@if(ngOnInit() == true){
    
    @if(profile() == 'ADMIN'){
        <section class="panel-admin">
            <app-admin-panel/>
            <ul class="panel-admin-options">
                <li><a class="btn-secondary" (click)="refesh()">Refrescar</a></li>
                <li><a class="btn-secondary" (click)="showCreationForm()">Crear Usuario</a></li>
            </ul>
            @if(creationForm){
                <app-user-registry/>
            }
        </section>
    } @else if (profile() == 'USER') {
        <h2>Usuario</h2>
    }
    
} @else {
    <app-not-found/>
}
