<h2>Política de Privacidad</h2>
<ul>
    <li><h3>Información que recabamos</h3></li>
    <p>Recopilamos los siguientes datos personales cuando te registras en nuestra plataforma:</p>
    <ul>
        <li>Nombre: Para identificarte correctamente.</li>
        <li>Apellido: Para completar tu identificación.</li>
        <li>Correo electrónico: Para comunicarnos contigo y enviarte información importante.</li>
        <li>Contraseña: Para asegurar que solo tú puedas acceder a tu cuenta.</li>
    </ul>
    <li><h3>Uso de la informacion</h3></li>
    <p>Utilizamos los datos personales que nos proporcionas para los siguientes fines:</p>
    <ul>
        <li>Crear y administrar tu cuenta.</li>
        <li>Enviarte notificaciones relacionadas con el servicio, como confirmaciones de registro y actualizaciones importantes.</li>
        <li>Validar tu correo electrónico para asegurar la autenticidad de tu cuenta</li>
    </ul>
    <li><h3>Validación del correo electrónico</h3></li>
    <p>Una vez que te registres con tu correo electrónico, te enviaremos un enlace de validación. Este enlace es válido durante 30 minutos después de su recepción. Si no validas tu correo dentro de ese tiempo, deberás solicitar un nuevo enlace de validación.</p>
    <li><h3>Seguridad de los datos</h3></li>
    <p>Tomamos medidas de seguridad razonables para proteger tus datos personales. Las contraseñas se almacenan de manera segura mediante métodos de encriptación. Sin embargo, te recomendamos que también tomes precauciones para proteger tu cuenta.</p>
    <li><h3>No compartimos tu información</h3></li>
    <p>Nos comprometemos a no vender, compartir ni transferir tu información personal a terceros sin tu consentimiento, excepto en los casos en que sea necesario para cumplir con obligaciones legales.</p>
    <li><h3>Acceso y control sobre tus datos</h3></li>
    <p>Tienes derecho a acceder, corregir o eliminar los datos que hemos recopilado. Si deseas ejercer cualquiera de estos derechos, puedes contactarnos a través del correo electrónico proporcionado en la sección de contacto.</p>
    <li><h3>Cambios en esta política</h3></li>
    <p>Nos reservamos el derecho de modificar esta política de privacidad en cualquier momento. Te notificaremos de cualquier cambio a través del correo electrónico registrado en tu cuenta o mediante un aviso en nuestra plataforma.</p>
    <li><h3>Contacto</h3></li>
    <p>Si tienes alguna pregunta o inquietud sobre cómo tratamos tus datos personales, no dudes en contactarnos a través de nuestro correo electrónico: <a href="mailto:marcofigueroa200@gmail.com">Contacto Oficial</a></p>
</ul>