.corpIdentySection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px 0;
}

.corpIdentySection article {
  background-color: #424769;
  text-align: justify;
  padding: 0 15px;
  border-radius: 20px;
}

.corpIdentySection article h2 {
  font-size: 30px;
}

.corpIdentySection article p,
.corpIdentySection article ul li{
  font-size: 20px;
}

@media (max-width: 850px) {

  .corpIdentySection {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (max-width: 460px) {

  .corpIdentySection {
    grid-template-columns: 1fr;
  }

}
