<section class="corpIdentySection">
  <article>
    <h2>Misión</h2>
    <p>"En Dedsec Corp, nuestra misión es impulsar la innovación y la seguridad en el ámbito de las tecnologías, brindando soluciones de vanguardia y estándares excepcionales. Nos dedicamos a proporcionar servicios de consultoría y desarrollo de aplicaciones que protejan los activos digitales de nuestros clientes, promoviendo la confianza y la excelencia en el mercado."</p>
  </article>
  <article>
    <h2>Visión</h2>
    <p>"Nos visualizamos como líderes indiscutibles en innovación y seguridad tecnológica, transformando el panorama empresarial con soluciones disruptivas y de alto impacto. Buscamos ser reconocidos globalmente por nuestra excelencia en el desarrollo de aplicaciones y consultoría, estableciendo nuevos estándares de seguridad y confianza en la era digital."</p>
  </article>
  <article>
    <h2>Valores</h2>
    <ul>
      <li>Liderazgo</li>
      <li>Excelencia</li>
      <li>Innovación</li>
      <li>Integridad</li>
      <li>Colaboración</li>
      <li>Compromiso con el cliente</li>
    </ul>
  </article>
</section>
