<section class="sectionUserAccess">
  <article class="userAccess">
    <h2>Ingreso</h2>
    <form class="formUserAccess">
      <label for="email">Correo Electronico</label><br>
      <input type="email" name="email" class="email" id="email" placeholder="wbonney@dedsec.cl"><br><br>
      <label for="passwd">Contraseña</label><br>
      <input type="password" name="passwd" class="passwd" id="passwd" placeholder="Alfanumerica 8 carácteres"><br><br>
    </form>
    <a class="btnAccess" (click)="getAccess()">Iniciar Sesión</a><br><br>
  </article>
</section>
