<section class="sectionUserCreation">
    <article class="userRegistry">
        <h2>Registro Clientes</h2>
        <form class="formUserRegistry">
            <label for="name">Nombre</label><br>
            <input type="text" name="name" class="name" id="name" placeholder="Nombre completo"><br><br>
            <label for="lastName">Apellido</label><br>
            <input type="text" name="lastName" class="lastName" id="lastName" placeholder="Apellido completo"><br><br>
            <label for="email">Correo Electronico</label><br>
            <input type="email" name="email" class="email" id="email" placeholder="usuario@dominio.com"><br><br>
            <label for="passwd">Contraseña</label><br>
            <input type="password" name="passwd" class="passwd" id="passwd" placeholder="Alfanumerica 8 carácteres"><br><br>
        </form>
        <a class="btn-primary" (click)="createUser()">Registrar</a><br><br>
    </article>
</section>
