<header>
  <img src="../assets/logo.png" alt="LogoWeb" class="LogoWeb">
  <h1 class="TitleWeb">Dedsec Corp</h1>
  <nav class="Navigation">
    <ul class="NavigationList">
      <li><a routerLink="/" class="btn-primary" (click)="toggleMenu()">Inicio</a></li>
      @if(ngOnInit() == true){
        <li><a routerLink="/administracion" class="btn-primary" (click)="toggleMenu()">Administración</a></li>
      }
      <li><a routerLink="/sobre-nosotros" class="btn-primary" (click)="toggleMenu()">Sobre Nosotros</a></li>
      <li><a routerLink="/politica-privacidad" class="btn-primary" (click)="toggleMenu()">Politica Privacidad</a></li>
    </ul>
  </nav>
  <i id="mobileIcon" class="fa-solid fa-bars" (click)="toggleMenu()"></i>
</header>
@if (ngOnInit() == true){
  <app-session-manager/>
}
